<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <input type="text" [(ngModel)]="name" (ngModelChange)="onNameEntered()">
            <h3 *ngIf="enableh3tag else namefiled">{{name}}</h3>
            <ng-template #namefiled>
                <p> Please Fill the Name Field !!!</p>
            </ng-template>
            <button class="btn btn-default" [disabled]="!enableResetBtn" (click)="onResetBtnClick()">Reset</button>
            
            <button class="btn btn-primary" [disabled]="!enableResetBtn" (click)="onSubmitButtonClick()">Submit</button>
            <hr>
            <servers-component></servers-component>
            <hr>
            <p> Build in Assignment part 1</p>
            <button class="btn btn-primary" (click)="onDispalyDetails()">Dispaly Details</button>
            <p *ngIf="toogleParagraph">Toogle Paragraph</p>
            <div *ngFor="let detailsLog of detailsLogList">
                <p [ngStyle]="{backgroundColor : detailsLog > 4 ? 'blue' : 'white'}"
                   [ngClass]="{logDetails : detailsLog > 4 }">{{detailsLog}}</p>
            </div>
        </div>
    </div>
</div>